<script>
  export let value; /* string */
  export let tileStyle = 'black';
  export let disabled = true;
  export let onForward = () => {};
  export let onBackward = () => {};

  let inputBox;

  export const focus = () => {
    if (inputBox != undefined) {
      inputBox.focus();
    }
  };

  function onInput(x) {
    value = x.value.slice(-1).toUpperCase();
    if (value.length > 0)
      onForward();
    else
      onBackward();
  }

  function onClick() {
    if (tileStyle == 'black')
      tileStyle = 'yellow';
    else if (tileStyle == 'yellow')
      tileStyle = 'green';
    else
      tileStyle = 'black';
  }
</script>

{#if disabled}
  <button class="tile {tileStyle}" type="button"
    on:click={onClick}
  >
    {value || ''}
  </button>
{:else}
  <input class="tile {tileStyle}" type="text"
    bind:value
    bind:this={inputBox}
    on:input={(x) => onInput(x.target)}
  />
{/if}
