<script>
  import Tile from './Tile.svelte';

  let disabled = false;

  let tileFocus = [undefined, undefined, undefined, undefined, undefined];
  let values = [undefined, undefined, undefined, undefined, undefined];
  let tileStyles = [undefined, undefined, undefined, undefined, undefined];

  export let value;
  export let color;

  $: value = values.join('');
  $: {
    let newColor = '';
    for (let color of tileStyles) {
      if (color == 'black')
        newColor += '-';
      else if (color == 'green')
        newColor += 'g';
      else
        newColor += 'y';
    }
    color = newColor;
  }
</script>

<div class="word">
  <Tile bind:value={values[0]} bind:tileStyle={tileStyles[0]} {disabled} bind:focus={tileFocus[0]} onForward={() => tileFocus[1]()}/>
  <div style="width: 5px;"/>
  <Tile bind:value={values[1]} bind:tileStyle={tileStyles[1]} {disabled} bind:focus={tileFocus[1]} onForward={() => tileFocus[2]()} onBackward={() => tileFocus[0]()}/>
  <div style="width: 5px;"/>
  <Tile bind:value={values[2]} bind:tileStyle={tileStyles[2]} {disabled} bind:focus={tileFocus[2]} onForward={() => tileFocus[3]()} onBackward={() => tileFocus[1]()}/>
  <div style="width: 5px;"/>
  <Tile bind:value={values[3]} bind:tileStyle={tileStyles[3]} {disabled} bind:focus={tileFocus[3]} onForward={() => tileFocus[4]()} onBackward={() => tileFocus[2]()}/>
  <div style="width: 5px;"/>
  <Tile bind:value={values[4]} bind:tileStyle={tileStyles[4]} {disabled} bind:focus={tileFocus[4]} onBackward={() => tileFocus[3]()}/>
  <div style="width: 20px;"/>

  <button on:click={() => disabled = !disabled}>
    {#if disabled}
    <div style="height: 6px;"/>
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="white" viewBox="0 0 16 16">
        <path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.067 6.067 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.118 8.118 0 0 1-3.078.132 3.659 3.659 0 0 1-.562-.135 1.382 1.382 0 0 1-.466-.247.714.714 0 0 1-.204-.288.622.622 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896.126.007.243.025.348.048.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04zM4.705 11.912a1.23 1.23 0 0 0-.419-.1c-.246-.013-.573.05-.879.479-.197.275-.355.532-.5.777l-.105.177c-.106.181-.213.362-.32.528a3.39 3.39 0 0 1-.76.861c.69.112 1.736.111 2.657-.12.559-.139.843-.569.993-1.06a3.122 3.122 0 0 0 .126-.75l-.793-.792zm1.44.026c.12-.04.277-.1.458-.183a5.068 5.068 0 0 0 1.535-1.1c1.9-1.996 4.412-5.57 6.052-8.631-2.59 1.927-5.566 4.66-7.302 6.792-.442.543-.795 1.243-1.042 1.826-.121.288-.214.54-.275.72v.001l.575.575zm-4.973 3.04.007-.005a.031.031 0 0 1-.007.004zm3.582-3.043.002.001h-.002z"/>
      </svg>
    {:else}
      <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16">
        <path d="M12.258 3h-8.51l-.083 2.46h.479c.26-1.544.758-1.783 2.693-1.845l.424-.013v7.827c0 .663-.144.82-1.3.923v.52h4.082v-.52c-1.162-.103-1.306-.26-1.306-.923V3.602l.431.013c1.934.062 2.434.301 2.693 1.846h.479L12.258 3z"/>
      </svg>
    {/if}
  </button>
</div>

<style>
  .word {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .word button {
    background-color: var(--black);
    padding: 0;
    margin: 0;
    height: 1.5em;
    width: 1.5em;
    color: white;
    font-size: 2em;
    border: 2px solid var(--gray);
  }
</style>
